* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

body {
    background-color: aliceblue;
}

.logo {
    background-color: burlywood;
}

.nav {
    background-color: lightcoral;
}

.menu {
    background-color: aqua;
}

.food {
    background-color: lemonchiffon;
}

.drink {
    background-color:lightblue;
}

.dessert {
    background-color: lightpink;
}

.footer {
    background-color: lightgreen;
}
